<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.app">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.App">
        <activity android:name=".Lista.ListaMea"/>
        <activity android:name=".Principal.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Cautare.Cautare"
            />
        <activity android:name=".Lista.Lista" />
        <activity android:name=".Lista.Informatii"/>
        <activity android:name=".Cautare.RezultateCautare"/>
        <activity android:name=".Cautare.AS2"/>
        <activity android:name=".Cautare.AS3"/>
        <activity android:name=".Lista.AS4"/>
        <activity android:name=".Principal.AnimeSpecific"/>
        <activity android:name=".Cautare.GEN"
            android:parentActivityName=".Cautare.Cautare"/>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

    </application>

</manifest>